
<div id="container">
  <div id="kuchnia">
    <h5>Typ kuchni</h5>
    <div *ngFor="let kitchen of service.kitchens">
      <label for="{{kitchen}}"><input type="checkbox" name="kuchnia" id="{{kitchen}}" (change) = "updateFilter(kitchen,0)" value="{{kitchen}}">{{kitchen}}</label>
    </div>
  </div>
  <div id="kategoria">
    <h5>Kategoria dania</h5>
    <div *ngFor="let category of service.categories" style="align-content: center">
      <label for ="{{category}}"><input type="checkbox" id="{{category}}" name="kategoria" (change) = "updateFilter(category,1)" value="{{category}}">{{category}}</label>
    </div>
  </div>
  <div id="gwiazdki">
    <h5>Ocena dania</h5>
    <div *ngFor="let star of service.stars">
      <label for="{{star}}"><input type="checkbox" id="{{star}}" name="ocena" (change)="updateFilter(star,2)" value="{{star}}">{{star}}</label>
    </div>
  </div>
  <div id="cena">
    <h5>Cena dania</h5>
    <div>
      <input #minim type="range" id="minimal" (change)="changeDownPrice()" [value] ="service.downPrice" min="{{service.minPrice}}" max="{{service.maxPrice}}">
      <span>Minimalna cena: {{minim.value}}</span>
    </div>
    <div>
      <input #maksim type="range" id="maximal" (change)="changeUpPrice()" [value] ="service.upPrice" min="{{service.minPrice}}" max="{{service.maxPrice}}">
      <span>Maksymalna cena: {{maksim.value}}</span>
    </div>
    <span [ngStyle]="{'opacity' : checkForks()}" style="color: red">Cena minimalna nie może być większa od maksymalnej</span>
  </div>
</div>
