.formbody{
  width:100%;
  margin:2vh auto;
}
form{
  display: flex;
  row-gap: 4vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input{
  font-size : 1.5vw
}
form > div{
  display: flex;
  flex-direction: column;
}
