<div *ngIf="order" id="container">
  <div class="photos">
    <div *ngFor="let image of order.dish.images">
      <img alt="obrazek" src="{{image}}">
    </div>
  </div>
  <div id="info">
    <div id="dishinfo">
      <button (click)="location.back()" class="back">Powrót do menu</button>
      <h1>{{order.dish.name}}</h1>
      <h2 style="background-color: #45ecec">Kategoria: {{order.dish.kategoria}}</h2>
      <h2 style="background-color: #5fbae1">Kuchnia: {{order.dish.kuchnia}}</h2>
      <div id="descript" style="background-color: #2eeeee">
        <h4>Opis dania</h4>
        <p>{{order.dish.description}}</p>
      </div>
      <div id="skladniki" style="background-color: #5fbae1">
        <p style="font-weight: bold">Składniki:</p>
        <div *ngFor="let skladnik of order.dish.skladniki">
          {{skladnik}},
        </div>
      </div>
      <h2 style="background-color: #2eeeee"> Cena: {{service.currencyRate(order.dish.price)}} {{service.sharedData}}</h2>
      <div style="background-color: #5fbae1" class="numbers">
        <ng-template [ngIf]="order.dish.units>order.instock" [ngIfElse]="soldOut">
          <div class="instock" [ngStyle]="{'color': service.changeColor(order)}">
            Dostępne: {{order.dish.units - order.instock}}
          </div>
        </ng-template>
        <ng-template #soldOut>
          <div class="instock" style="color:red">
            Niedostępne
          </div>
        </ng-template>
        <button class="plus" *ngIf="order.dish.units > order.instock" (click) = "service.add(order)">+</button>
        <button class="minus" *ngIf="order.instock > 0" (click) = "service.substract(order)">-</button>
      </div>
      <div *ngIf="canRate">
        <ul class="rating-list" *ngFor="let star of service.stars">
          <li (click)="updateRate(star)" [ngClass]="{'selected': (rate != 0 && star <= rate)}">
            <i class="fa fa-star"></i></li>
        </ul>
        {{rate}}/5
      </div>
    </div>
    <form *ngIf="canCom" [formGroup]="opinionForm" (ngSubmit)="addOpinion(opinionForm.value)">
      <label>Twój nick</label>
      <input type="text" id="nick" formControlName="nick">
      <div *ngIf="nick.invalid && (nick.dirty || nick.touched)"
           class="alert alert-danger">
        <div *ngIf="nick.errors?.['required']">
          Nick jest obowiązkowy
        </div>
      </div>
      <label>Tytuł twojego komentarza</label>
      <input type="text" formControlName="title">
      <div *ngIf="title.invalid && (title.dirty || title.touched)"
           class="alert alert-danger">
        <div *ngIf="title.errors?.['required']">
          Tytuł komentarza jest obowiązkowy
        </div>
      </div>
      <label>Twój komentarz</label>
      <textarea rows="9" formControlName="body"></textarea>
      <div *ngIf="body.invalid && (body.dirty || body.touched)"
           class="alert alert-danger">
        <div *ngIf="body.errors?.['required']">
          Wypełnij treść komentarza
        </div>
        <div *ngIf="body.errors?.['minlength']">
          Komentarz musi mieć przynajmniej 50 znaków
        </div>
        <div *ngIf="body.errors?.['maxlength']">
          Komentarz może mieć co najwyżej 500 znaków
        </div>
      </div>
      <label>Data zamówienia (opcjonalnie)</label>
      <input type="date" formControlName="date">
      <button type="submit" id="submit" [disabled]="!opinionForm.valid">Dodaj komentarz</button>
    </form>
    <div id="opinions" style="background-color: #e600ff">
      <div class="opinion" *ngFor="let opinion of opinions">
        <h3>{{opinion.title}} </h3>
        <p>{{opinion.body}}</p>
        <h4>{{opinion.nick}} {{opinion.date}}</h4>
      </div>
    </div>
  </div>
</div>
