button{
  width:3vw;
  height:3vw;
  border-radius: 50%;
  font-size: 2vw;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vh 20vw;

}
#page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2vw;
  column-gap: 2vw;
}
#size{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap:2vw;
}
p{margin:0}
