<div id="container">
  <span id="size">
    <button (click)="service.size = 3; service.page=1">3</button>
    <button (click)="service.size = 6;service.page=1" >6</button>
    <button (click)="service.size = 9; service.page=1" >9</button>
  </span>
  <span id="page">
  <button (click)="service.page= service.page-1" [disabled]="service.page==1"><</button>
  <p>Strona {{service.page}}</p>
  <button (click)="service.page=service.page+1" [disabled]="service.page>=endPage">></button>
  </span>
</div>
