<div id="container">
  <h2>Wybierz tryb persystancji</h2>
  <div id="Pers">
    <input type="radio" name="pers" [checked]="auth.persistance == 'local' " (change)="changePers('local')">Local
    <input type="radio" name="pers" [checked]="auth.persistance == 'session' " (change)="changePers('session')">Session
    <input type="radio" name="pers" [checked]="auth.persistance == 'none' " (change)="changePers('none')">None
  </div>
  <h3>Zdefiniuj role użytkowników</h3>
  <div id="list">
    <div *ngFor="let user of users" class="user">
      {{user.name}}
      <label for="admin"><input id="admin" [checked]="user.roles.admin" (change)="user.roles.admin = !user.roles.admin; updateUser(user)" type="checkbox">Admin</label>
      <label for="manager"><input id="manager" [checked]="user.roles.manager" (change)="user.roles.manager = !user.roles.manager;updateUser(user)" type="checkbox">Manager</label>
      <ng-template [ngIf]="!user.banned" [ngIfElse]="soldOut">
        <button class="ban" (click)="user.banned = true;updateUser(user)">Zbanuj</button>
      </ng-template>
      <ng-template #soldOut>
        <button class="ban" (click)="user.banned = false;updateUser(user)">Odbanuj</button>
      </ng-template>
    </div>
  </div>
</div>
