#container{
  position: relative;
}
form{
  align-self: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  width:fit-content;
  margin: 2vh auto;
  background: #070707;
  color:white;
  padding: 5vh;
  font-size: 1.5vw;
}
p{
  margin:0;
  padding:0;
  font-size:1vw;
  color:red;
}
h6{
  margin:2vh 1vw;
  font-size: 2vw;
  color:lightgreen;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: fit-content;
  align-self: center;
  margin : 2vh;

}
td{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 0.5em;
}
.submit{
  font-size: 1.5em;
  align-self: center;
}
#ingredients, #images{
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
#close{
  font-size: 2em;
  position: absolute;
  left:5vw;
  top:2vh;
  display:flex;
  justify-content: center;
  align-items: center;
  width:1.5em;
  height:1.5em;
  cursor: pointer;
  border-radius: 50%;
}
